.footer {
  width: 1170px;
  padding: 30px 0;
  text-align: left;
  margin-left: 100px;
}

.footer-container {
  padding: 0 15px;
}

.footer-container p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
