.skills {
  padding: 7em 0;
  clear: both;
}

.skills-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  text-align: center;
  font-family: "Space Mono", Arial, serif;
}

.skills-container .title-skills {
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  font-size: 40px;
  color: #000;
  margin-bottom: 127px;
}

.skills-container .skills-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-card {
  width: 25%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 20px;
  position: relative;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.skills-card span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.lineChart {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.lineChart .lineChart-box {
  padding: 20px;
  margin-bottom: 10px;
}

.lineChart .lineChart-box .title-lineChart {
  display: flex;
  justify-content: space-between;
}

.lineChart .lineChart-box .title-lineChart p {
  font-weight: 400;
  margin-bottom: 10px;
}

.lineChart .lineChart-box .chart-line {
  width: 100%;
  height: 3px;
  background: #f5f5f5;
}
