main {
  background: #ff9000;
  padding: 7em 0;
  color: #fff;
}
main h1 {
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 127px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80%; /* Thay đổi chiều rộng slide theo phần trăm */
  height: 80%; /* Điều chỉnh chiều cao slide */
  max-width: 300px; /* Giới hạn chiều rộng tối đa */
  max-height: 300px; /* Giới hạn chiều cao tối đa */
  border-radius: 10px; /* Tạo góc bo tròn cho slide */
  overflow: hidden; /* Đảm bảo nội dung không tràn ra ngoài slide */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tạo bóng cho slide */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Giúp hình ảnh vừa khít với kích thước của slide */
  border-radius: 10px;
}
